.note{
  height:300px;
  width:100px;
}
*{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.7px;
}
body{
  padding-left: 20%;
  padding-right: 20%;
  margin-top:14vh;
}
.item-container{
  margin-top: 2vh;
}
.note{
  display: inline-block;
  margin: 5%;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.note:hover{
  transform: scale(1.05);
}
.inline{
  display: inline-block;
}
.center{
  text-align: center;
}
.center-v-outer{
  display: table;
  position: absolute;
  height: 50vh;
  width: 59%;
}
.center-v-inner{
  display: table-cell;
  vertical-align: middle;
}
.note-list{
  background:#F1F1F1;
  width:30%;
  position: relative;
  display:inline-block;
  height:25vh;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
  margin: 5px;
  text-align: left;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.note_display{
  width: 100%;
  height: 80%;
  top:0px;
  left:0px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.overlay{
  position: absolute;
  width:100%;
  height:20vh;
  transition: 0.3s ease;
  text-align: center;
}
.overlay:hover{
  background:black;
  opacity: 0.8;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.transparent{opacity: 0;}
.overlay:hover > .transparent{
  opacity: 1;
  color:white;
  z-index: 12;
  font-size: 1.6em;
}
.left{
  text-align: left;
  padding-left:1.5%;
  padding-top:0.5%;
  max-width:50%;
  min-height:100%;
  display:inline-block;
  /*background: red;*/
  position: relative;
  top:0px;
  left:0px;
  float:left;
}
.right{
  padding:1%;
  padding-top:2vh;
  width:50%;
  height:100%;
  text-align: right;
  padding-bottom:1.5%;
  display:inline-block;
  /*background: blue;*/
  float:right;
}
a{
  color: black;
}
a:hover, a:visited{
  text-decoration: none;
  color:black;
}
@media only screen and (max-width: 1000px) {
  .note-list{
    display:block;
    width: 100%;
    height:35vh;
    font-size: 1.2em;
  }
  .note_display{
    width: 100%;
    height: 30vh;
  }
  .overlay{
    z-index: 12;position: absolute;
    width:100%;
    height:30vh;
    transition: 0.3s ease;
  }
  .overlay > p {
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 800px) {
  .menu {
    text-align: center;
  }
  .collapse{
    width:100%;
    display:block;
    text-align: center;
  }
  .note-list{
    font-size: 0.8em;
  }
  .menu-item{
    display:block;
    margin-top:10px;
  }
}
@media only screen and (max-width: 400px) {
  body{
    padding-top: 3vh;
  }
  .removeOnSmallDevice{
    display:none;
  }
  input{
    width: 100%;
  }
}
img{
  cursor:pointer;
}
.full{
  width:100%;
}
.description{
  margin-top:330px;
}
.react {
  font-size: 2em;
  display: inline-block;
  background: transparent;
  border:none;
  outline:none;
}
.react:hover{
  cursor:pointer;
}
.react-data{
  user-select: none;
  font-size: 2.4em;
}
.hover-delete{
  font-size:2.6em;
}
.hover-delete:hover .delete{
  display: inline-block;
  right:5%;
}
.slide-left{
  font-size: 1.6em;
}
.delete{
  display: none;
  cursor: pointer;
  font-size: 1.4em;
  background: #D45D79;
  width: auto;
}
.not-profile{
  display: none;
}
#addLink{
  font-size: 1.4em;
  cursor: pointer;
}
input{
  width: 30%;
  height:5vh;
  border: 0.5px solid #C0C5CD;
  color:black;
  outline:none;
  -webkit-box-shadow: 0 0 0 30px white inset;
  margin: 2vh;
  border-radius:5px;
  padding-left: 10px;
}
.invisible{
  display: none;
}
.visible{
  display: inline-block;
}
.noBorder{
  border:none;
}
.titleBar{border-bottom:0.5px solid #C0C5CD; width: 100%; height: 10vh;}
.title{font-size: 2.5em;}
