.menu{
  background: white;
  width:100%;
  min-height:10vh;
  position: fixed;
  left:0px;
  top:0px;
  z-index: 10;
  border-bottom: 0.4px solid #C0C5CD;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.menu-item{
  font-size:0em;
  color:black;
  margin-top: 1.2vh;
  display:block;
  opacity:0;
  height: 0px;
  transition: 0.3s ease-in-out;
  border-bottom: 0.7px solid #C0C5CD;
  z-index: 100;
}
.menu-item-extend{
  opacity:1;
  height: 5.5vh;
  z-index: 100;
  font-size: 1.6em;
}
.noStyle{
  border: none;
}
/*filter Notes menu*/
.filterOption{
  margin-right: 20px;
  cursor: pointer;
}
.filterMenu{
  width: 100%;
  height: 10vh;
  padding: 10px;
  text-align: center;
}
.filterMenu input[type="radio"]{
  display:none;
}
.filterMenu label{
  min-width:10%;
  height: 2.5vh;
  border-radius: 5px;
  border: 0.5px solid #C0C5CD;
  border:none;
}
.filterMenu input[type="radio"]:checked + label{
  background:#ddd;
}
@media only screen and (max-width: 645px) {
  .filterMenu label{
    display: block;
  }
  .filterMenu input[type="text"] {
    width: 100%;
  }
}
